section 
{
    width: 640px;
    height: 640px;
    margin: 0px auto;
    border: 15px solid black;
}
section .black 
{
    float: left;
    width: 80px;
    height: 80px;
    background: grey;
    font-size:50px;
    text-align:center;
    line-height: 80px;
    float: left;
}
section .white 
{
    float: left;
    width: 80px;
    height: 80px;
    background: white;
    font-size:50px;
    text-align:center;
    line-height: 80px;
    float: left;
}
section .black:hover,.white:hover
{
    background-color: black;
    color: white;
}
